<ul class="nav nav-pills mb-3 nav-fill" role="tablist">
  <li class="nav-item"><a routerLink="total" class="nav-link" data-toggle="pill" role="tab" aria-selected="true">Total x day</a></li>
  <li class="nav-item"><a routerLink="total customers" class="nav-link" data-toggle="pill" role="tab" aria-selected="true">Total customers</a></li>
  <li class="nav-item"><a routerLink="waiter-statistics" class="nav-link" data-toggle="pill" role="tab" aria-selected="true">waiter statistics</a></li>
</ul>

<router-outlet></router-outlet>

