<div *ngFor="let ticket of this.tickets" class="card" style="margin: 5px" >
  <div class="card-body">
    
    <p class="card-text">Tavolo {{ ticket.table }}</p>
    <p class="card-text">Ordinazioni:</p>
    
    <div class="orders-list" *ngFor="let order of ticket.orders">
      <p class="card-text">{{ order.name_item }}</p>
      <form class="form-inline">
        <div *ngIf="order.state == 'ordered'" class="form-group mb-2"><button type="submit" class="btn btn-primary mb-2" (click)="setOrderinProgress(ticket._id, order._id)">In progress</button></div>
        <div *ngIf="order.state == 'preparation'" class="form-group mb-2"><button type="submit" class="btn btn-primary mb-2" (click)="setOrderCompleted(ticket._id, order._id)">Completed</button></div>
      </form>
    </div>


  </div>
</div>

<button id = "logout" class="btn btn-lg btn-primary btn-block" (click)="this.logout()" >Logout</button>
