<div *ngIf="items && tickets else loading">
  <div class="container" style="width: 400px; margin-top: 20px;" >
    <form>

      <div class="form-group">

        <label for="tables">Select the table</label>
        <select *ngIf="tickets.length != 0 " class="form-control" [(ngModel)]="selTicket" name="tables" id="tables">
          <option *ngFor="let tl of tickets" [ngValue]="tl">{{tl.table}}</option>
        </select>
        <p *ngIf="tickets.length == 0">No tables</p>

        <div *ngIf="items.length != 0">
        
          <label for="ordini">Select the product to add</label>
          <select class="form-control" [(ngModel)]="selMenuEntry" name="ordini" id="ordini">
            <optgroup *ngFor="let type of types" label="{{type.charAt(0).toUpperCase() + type.slice(1)}}">
                <option *ngFor="let item of items[type]" [ngValue]="item">{{item.name}}</option>
            </optgroup>   
          </select>

          <br>
          
          <form class="form-group row">
            <div class="col-sm-2"><button type="submit" class="btn btn-primary" (click)="add()">Add</button></div>
            <div class="col-sm-6"><input style="text-align: center" class="form-control" type="number" value="{{counter}}" readonly></div>
            <div class="col-sm-2"><button type="submit" class="btn btn-primary" (click)="sub()">Subtract</button></div>
          </form>

          <button class="btn btn-lg btn-primary btn-block" (click)="insertItem(selMenuEntry, counter)">Insert</button>
        </div>
        <p *ngIf="items.length == 0">No items</p>

        <div *ngIf="selTicket">
          <label>Item inserted for the ticket of the table {{selTicket.table}}</label>
          <ul class="card">
            <li style="text-align: center" *ngFor="let order of ordersSelected; let i = index">
              {{order.item.name}}
              <textarea (focusout)="attachAdded(i, $event.target.value)" rows="2" cols="30" placeholder="Added"></textarea>
              <div>
                <input type="number" name="quantity" min="0" step="0.5" (focusout)="addPrice(i, $event.target.value)" placeholder="Price added">
              </div>

              <div style="padding: 10px">
                <button class="btn btn-primary btn-block" (click)="deleteItemFromSelected(i)">Delete</button>
              </div>
            </li>
          </ul>
        </div>

        <br>

        <button class="btn btn-lg btn-primary btn-block" (click)="sendOrders(selTicket._id, this.us.get_nick(), ordersSelected)">Invia ordini</button>
      </div>

    </form>
  </div>
</div>

<ng-template #loading>
  <div *ngIf="!error" class="loading">Tables and items are loading...</div>
  <div *ngIf="error" class="error">Error...</div>
</ng-template>
