<div class="container" style="width: 400px; margin-top: 20px;" >
  <form>

    <div class="form-group">
      <p>Your nick is {{this.us.get_nick()}}</p>
      <p for="button">Your role is {{this.us.get_role()}}</p>

      <label for="tables">Seleziona un tavolo</label>
      <select class="form-control" [(ngModel)]="selTicket" name="tables" id="tables">
        <option *ngFor="let tl of tickets" [ngValue]="tl">{{tl.table}}</option>
      </select>

      <div>
       
        <label for="ordini">Seleziona un prodotto da aggiungere</label>
        <select class="form-control" [(ngModel)]="selMenuEntry" name="ordini" id="ordini">
          <option *ngFor="let item of items" [ngValue]="item">{{item.name}}</option>
        </select>

        <br>
        
        <!--<input type="number" #counter class="form-control" style="text-align:center;" >-->
        <form class="form-inline">
          <div class="form-group mb-2"><button type="submit" class="btn btn-primary mb-2" (click)="add()">Add</button></div>
          <span> {{counter}} </span>
          <div class="form-group mx-sm-3 mb-2"><button type="submit" class="btn btn-primary mb-2" (click)="sub()">Subtract</button></div>
        </form>

        <button (click)="insertItem(selMenuEntry, counter)">Insert</button>
      </div>

      <div>
        <label>Elementi inseriti nell'ordine per il tavolo {{selTicket.table}}</label>
        <ul>
          <li *ngFor="let item of itemsSelected; let i = index">
            {{item.name}}
            <button (click)="deleteItemFromSelected(i)">Delete</button>
          </li>
        </ul>
      </div>

      <button (click)="sendOrders(selTicket._id, this.us.get_nick(), itemsSelected)">Invia ordini</button>
    </div>

  </form>
</div>
