<p>
  paydesk view
  you name is : {{ null || "Admin"}}
</p>

<div class="card" style="margin: 5px" >

<div class="btn btn-lg btn-primary btn-block" #addUser (click)="formAddUser.hidden = !formAddUser.hidden" >Add a User</div>

  <form #formAddUser hidden="true" >
    <div class="form-group">
      <label for="newuserpassword">Name of new operator</label>
      <input type="email" class="form-control" id="newusername" #newusername aria-describedby="emailHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="newuserpassword">Password</label>
      <input type="password" class="form-control" id="newuserpassword" #newuserpassword placeholder="Password">
    </div>

    <label for="roles">Role</label>
    <select class="form-control" [(ngModel)]="newRoleSelected" name="menu" id="roles">
      <option *ngFor="let ord of this.roles" value="{{ord}}">{{ord}}</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary" (click)="send(newusername.value, newuserpassword.value)">Submit</button>
  </form>

</div>

<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block" (click)="formDelUser.hidden = !formDelUser.hidden" >Delete a User</div>

  <form #formDelUser hidden="true" >

    <label for="tables">Seleziona un Utente</label>
    <select class="form-control" [(ngModel)]="selDelUser" name="tables" id="tables">
      <option *ngFor="let table of this.users" value="{{table.username}}">{{table.username}}</option>
    </select>

    <br>
    <button type="submit" class="btn btn-primary" (click)="this.us.deleteUser(selDelUser)">Submit</button>
  </form>

</div>

<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block" (click)="formChangePwdUser.hidden = !formChangePwdUser.hidden" >Change password to a User</div>

  <form #formChangePwdUser hidden="true" >

    <label for="tables">Seleziona un Utente</label>
    <select class="form-control" [(ngModel)]="selChangePwdUser" name="tables">
      <option *ngFor="let table of this.users" value="{{table.username}}">{{table.username}}</option>
    </select>

    <br>

    <label for="newPwd" class="sr-only">Password</label>
    <input type="password" #newPwd id="newPwd" class="form-control" placeholder="Password" required>

    <br>
    <button type="submit" class="btn btn-primary" (click)="this.us.changePasswordUser(selChangePwdUser,newPwd)">Submit</button>
  </form>

</div>

<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block" (click)="formEmitReceipt.hidden = !formEmitReceipt.hidden" >Emit Receipt</div>

  <form #formEmitReceipt hidden="true">

    <label for="tables">Seleziona un Tavolo</label>
    <select class="form-control" [(ngModel)]="selTicket" name="tables">
      <option *ngFor="let tt of this.tickets" [ngValue]="tt">{{tt.table}}</option>
    </select>

    <p>price: </p>

    <div *ngIf="selTicket" #price>{{emitReceipt()}}</div>

    <p>orders: </p>

    <div *ngIf="selTicket">
      <div class="card">
        <div *ngFor="let ord of selTicket.orders">
          <!--<div *ngIf="ord.table==selTable" class="card" style="margin: 5px" >-->
            <!--<p class="card-text">{{ ord.table }}</p>-->
            <!--<div *ngFor="let ss of ord.orders" class="card" style="margin: 5px" >-->
            <div class="card">
              <div class="card-body">
                <p class="card-text">{{ ord.name_item }}</p>
              </div>
            </div>
            <!--</div>-->
        </div>
      </div>
    </div>

    <!--<div class="btn btn-lg btn-primary btn-block" (click) = "close_ticket()">Close ticket</div>-->
    <div *ngIf="selTicket" class="btn btn-lg btn-primary btn-block" (click)="close_ticket()" >Close</div>
  </form>
</div>
<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block" (click)="formReports.hidden = !formReports.hidden" >Reports</div>

  <form #formReports hidden="true" >

    <!--<p>Here reports</p>

    <p>Total gain: {{allGain()}}</p>

    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" (dateSelect)="onDateSelect($event)" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>

    <br>

    {{day}} / {{month}} / {{year}}

    <p>Total gain of Day: {{allGainOfDay()}}</p>

    <button class="btn btn-lg btn-primary btn-block" (click)="this.allGainOfDay()" >gain</button>-->
    <button class="btn btn-lg btn-primary btn-block" (click)="this.create_daily_report()" >Insert daily report</button>

  </form>
</div>

<button id = "logout" class="btn btn-lg btn-primary btn-block" (click)="this.logout()" >Logout</button>

