
<p>
  paydesk view
  you name is : {{ null || "Admin"}}
</p>

<div class="card" style="margin: 5px" >

<div class="btn btn-lg btn-primary btn-block" #addUser (click)="formAddUser.hidden = !formAddUser.hidden" >Add a User</div>

  <form #formAddUser hidden="true" >
    <div class="form-group">
      <label for="newuserpassword">Name of new operator</label>
      <input type="email" class="form-control" id="newusername" #newusername aria-describedby="emailHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="newuserpassword">Password</label>
      <input type="password" class="form-control" id="newuserpassword" #newuserpassword placeholder="Password">
    </div>

    <label for="roles">Role</label>
    <select class="form-control" [(ngModel)]="newRoleSelected" name="menu" id="roles">
      <option *ngFor="let ord of this.roles" value="{{ord}}">{{ord}}</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary" (click)="send(newusername.value, newuserpassword.value)">Submit</button>
  </form>

</div>

<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block" (click)="formDelUser.hidden = !formDelUser.hidden" >Delete a User</div>

  <form #formDelUser hidden="true" >

    <label for="tables">Seleziona un Utente</label>
    <select class="form-control" [(ngModel)]="selDelUser" name="tables" id="tables">
      <option *ngFor="let table of this.us.get_users()" value="{{table}}">{{table}}</option>
    </select>

    <br>
    <button type="submit" class="btn btn-primary" (click)="this.us.deleteUser(selDelUser)">Submit</button>
  </form>

</div>

<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block" (click)="formDelUser.hidden = !formDelUser.hidden" >Change password to a User</div>

  <form #formDelUser hidden="true" >

    <label for="tables">Seleziona un Utente</label>
    <select class="form-control" [(ngModel)]="selDelUser" name="tables">
      <option *ngFor="let table of this.us.get_users()" value="{{table}}">{{table}}</option>
    </select>

    <br>

    <label for="newPwd" class="sr-only">Password</label>
    <input type="password" #newPwd id="newPwd" class="form-control" placeholder="Password" required>

    <br>
    <button type="submit" class="btn btn-primary" (click)="this.us.changePasswordUser(selDelUser,newPwd)">Submit</button>
  </form>

</div>

<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block" (click)="formEmitReceipt.hidden = !formEmitReceipt.hidden" >Emit Receipt</div>

  <form #formEmitReceipt hidden="true" >

    <label for="tables">Seleziona un Tavolo</label>
    <select class="form-control" [(ngModel)]="selTable" name="tables">
      <option *ngFor="let table of this.us.get_tables()" (click)="price.hidden=false" value="{{table}}">{{table}}</option>
    </select>

    <p>price: </p>

    <div [hidden]="false" #price>{{this.us.emitReceipt(selTable)}}</div>

    <p>orders: </p>

    <div *ngFor="let ord of this.order.get(selTable)" class="card" style="margin: 5px" >
      <div class="card-body">
        <p class="card-text">{{ ord.selMenuEntry }}</p>
      </div>
    </div>

  </form>
</div>

<div class="card" style="margin: 5px" >

  <div class="btn btn-lg btn-primary btn-block">View Orders in Progress</div>

</div>

<button id = "logout" class="btn btn-lg btn-primary btn-block" (click)="this.logout()" >Logout</button>

