<div class="container" style="width: 400px; margin-top: 20px;" >

<form class="form-signin"  >
  
  <div class="text-center">  
    <i class="fas fa-envelope loginlogo"></i>
    <h1 class="h3 mb-3 font-weight-normal">Sign-up</h1>
  </div>


  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" #mail="ngModel" name="mail" [(ngModel)]="user.mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-control" required id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div [hidden]="mail.valid || mail.pristine"
      class="alert alert-danger">
    Mail is not valid
  </div>
  
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" #username="ngModel" required name="username" [(ngModel)]="user.username" class="form-control" id="inputUsername" placeholder="Enter username">
  </div>

  <div [hidden]="username.valid || username.pristine"
      class="alert alert-danger">
    Username is required
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" #password="ngModel" required name="password" [(ngModel)]="user.password" class="form-control" id="inputPassword" placeholder="Password">
  </div>

  <div [hidden]="password.valid || password.pristine"
      class="alert alert-danger">
    Password is required
  </div>

  <div *ngIf="errmessage" class="alert alert-danger" role="alert">
    Login error: {{errmessage}}
  </div>

  <button class="btn btn-lg btn-primary btn-block" [disabled]=" !mail.valid || !password.valid || !username.valid" (click)="signup();" >Sign up</button>
</form>
</div>