<div class="jumbotron">

  <h2>Postmessages</h2>
  <div class="container">
  <div class="form-group">
    <!--<label for="messagetext">Message</label>-->
    <textarea class="form-control" [(ngModel)]="message.content" #messagetx id="messagetext" 
    rows="3" (keyup.enter)="post_message()" placeholder="Enter your message here"></textarea>
  </div>

  <div class="row">
    <div class="col col-lg-2">
      <label class="sr-only" for="tagtext">tags</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" #tagname class="form-control" id="tagtext" placeholder="add tags..." (keyup.enter)="add_tag(tagname.value); tagname.value=''" >
      </div>
    </div>
    <div class="col-md-auto">
      <span *ngFor="let tag of get_tags()" class="badge badge-secondary tag">{{tag}} 
          <i class="fas fa-times-circle"></i>
      </span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="post_message()" >Post <i class="fas fa-paper-plane"></i></button>
  </div>


</div>