<div class="input-group">
  <input class="form-control" placeholder="yyyy-mm-dd" [startDate]="startDate"
         name="dp1" (dateSelect)="onMinDateSelect($event)" ngbDatepicker #d1="ngbDatepicker">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
  </div>
</div>

<button (click)="update()">Aggiorna</button>

<div class="input-group">
  <input class="form-control" placeholder="yyyy-mm-dd" [startDate]="startDate"
         name="dp2" (dateSelect)="onMaxDateSelect($event)" ngbDatepicker #d2="ngbDatepicker">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
  </div>
</div>


<div>
  <div style="display: block">
    <canvas *ngIf = "barChartData" baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>

