<div *ngIf="(tickets && tickets.length != 0) else loading">
  <div *ngFor="let ticket of this.tickets" class="card" style="margin: 5px" >
    <div class="card-body">
      <p class="card-text"><b>Tavolo {{ ticket.table }}</b></p>
      <p class="card-text"><b>Ordinazioni:</b></p>
      <table style="width:100%">
        <tbody>
          <tr style="width:100%" class="orders-list" *ngFor="let order of ticket.orders">
            <td style="width:30%">{{ order.name_item }}</td>
            <td style="width:50%">{{ order.added }}</td>
            <td style="width:20%">
              <form class="form-inline">
                <div *ngIf="order.state == 'ordered'" class="form-group mb-2"><button type="submit" class="btn btn-primary mb-2" (click)="setOrderCompleted(ticket._id, order._id, $event.target, $event.target.children[0])">
                  Completed
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden="{{true}}"></span>
                </button></div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #loading>
    <div class="empty" *ngIf="tickets && tickets.length == 0">No orders...</div>
    <div *ngIf="!tickets" class="loading">Orders are loading...</div>
    <div *ngIf="error" class="error">Error in loading orders...</div>
</ng-template>

<app-logout></app-logout>