<form class="form-inline horizontal-dates">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
              name="dp_delete" (dateSelect)="onDateDeleteSelect($event)" ngbDatepicker #d_delete="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d_delete.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>

<button class="update-button" (click)="update()">Aggiorna</button>

<form class="form-inline horizontal-dates">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
              name="dp_delete" (dateSelect)="onDateDeleteSelect($event)" ngbDatepicker #d_delete="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d_delete.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>

<label for="selRoles">Seleziona un ruolo per filtrare</label>
<select (change)="filterRoles()" class="form-control" [(ngModel)]="selRole" name="selRoles" id="selRoles">
  <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
</select>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Items served</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let ww of allResults">
      <td>{{ww.name}}</td>
      <td>{{ww.role}}</td>
      <td>{{ww.num}}</td>
    </tr>
  </tbody>
</table>
