<ul class="nav nav-pills mb-3 nav-fill" role="tablist">
  <li class="nav-item"><a routerLink="tables" class="nav-link" data-toggle="pill" role="tab" aria-selected="true">Tables</a></li>
  <li class="nav-item"><a routerLink="served" class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Served</a></li>
  <li class="nav-item"><a routerLink="insertOrders" class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Insert Orders</a></li>
  <li class="nav-item"><a routerLink="paydesk" class="nav-link" data-toggle="pill" role="tab" aria-selected="false">PaydeskOps</a></li>
  <li class="nav-item"><a routerLink="logoutt" class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Logout</a></li>
</ul>

<router-outlet></router-outlet>

