.loading {
    text-align: center;
    border: 2px solid #007bff;
    color: #007bff
}

.error {
    text-align: center;
    border: 2px solid red;
    color: red
}

.inline-controls {
    display: inline;
}

.inline-controls > button {
    width: 20%;
}

.inline-controls > input {
    width: 60%
}