<div class="container" style="width: 400px; margin-top: 20px;" >

  <form>

    <div class="form-group">
      <p>Your nick is {{this.us.get_nick()}}</p>
      <p for="button">Your role is {{this.us.get_role()}}</p>

      <label for="tables">Seleziona un tavolo</label>
      <select class="form-control" [(ngModel)]="selTable" name="tables" id="tables">
        <option *ngFor="let table of tables" value="{{table}}">{{table}}</option>
      </select>

      <p [style.display]="selTable === undefined?'none':'inherit'">Hai selezionato il tavolo {{selTable}}</p>

      <label for="ordini">Seleziona un prodotto da aggiungere</label>
      <select class="form-control" [(ngModel)]="selMenuEntry" name="ordini" id="ordini">
        <option *ngFor="let product of menu" value="{{product.name}}">{{product.name}}</option>
      </select>

      <p [style.display]="selMenuEntry === undefined?'none':'inherit'">Hai selezionato il prodotto {{selMenuEntry}}</p>

      <button id = "send" class="btn btn-lg btn-primary btn-block" (click)="this.send()" >Invia</button>

      <label for="menu">Ordini già evasi per questo tavolo</label>
      <select class="form-control" [(ngModel)]="deleteOrder" name="menu" id="menu">
        <option *ngFor="let ord of this.orders" value="{{ord.id}}">{{ord.id + " " + ord.selMenuEntry}}</option>
      </select>

      <p [style.display]="deleteOrder === undefined?'none':'inherit'">Stai eliminando la comanda {{deleteOrder}}</p>

      <button id = "delete" class="btn btn-lg btn-primary btn-block" (click)="this.delete();" >Delete</button>

      <p>orders_size = {{this.orders_size()}}</p>

      <button id = "logout" class="btn btn-lg btn-primary btn-block" (click)="this.logout()" >Logout</button>

    </div>

  </form>
</div>
