<div class="container" style="width: 400px; margin-top: 20px;" >

  <form>

    <div class="form-group">
      <p>Your nick is {{this.us.get_nick()}}</p>
      <p for="button">Your role is {{this.us.get_role()}}</p>

      <label for="tables">Seleziona un tavolo</label>
      <select class="form-control" [(ngModel)]="selTable" name="tables" id="tables">
        <option *ngFor="let table of tables" value="{{table}}">{{table}}</option>
      </select>

      <p [style.display]="selTable === undefined?'none':'inherit'">Hai selezionato il tavolo {{selTable}}</p>

      <label for="menu">Seleziona un prodotto da aggiungere</label>
      <select class="form-control" [(ngModel)]="selMenuEntry" name="ordini" id="ordini">
        <option *ngFor="let product of menu" value="{{product}}">{{product}}</option>
      </select>

      <p [style.display]="selMenuEntry === undefined?'none':'inherit'">Hai selezionato il prodotto {{selMenuEntry}}</p>

      <button id = "send" class="btn btn-lg btn-primary btn-block" (click)="send()" >Invia</button>

      <label for="ordini">Ordini già evasi per questo tavolo</label>
      <select class="form-control" [(ngModel)]="order.orders" name="menu" id="menu">
        <option *ngFor="let ord of order.orders" value="{{ord}}">{{ord.nick}}</option>
      </select>

      <button id = "logout" class="btn btn-lg btn-primary btn-block" (click)="logout()" >Logout</button>
    </div>

  </form>
</div>
